<div class="app-header">

<div class="main-title" (click)="goToHome()">
  <span>Nos</span>
  <img
    class="header-flag"
    src="https://icon2.cleanpng.com/20180722/xf/f6493679307ef0c4454bb883826c6f0b.webp"
    alt="Cape Verde flag"
  />
  <span>taxi</span>
</div>

  <div class="main-subtitle">
    O futuro do táxi em Mindel.
  </div>

  <div class="header-actions">

    <button class="btn-outline">
      <span (click)="goToTrips()">
        gestión viajes
      </span>
    </button>

    usuario : sunset
    <img style="border-radius: 50%; height: 40px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd0ah7PkzGy6HijreMHAM5ky1H-l26L86OCaYENAEJOA&s" alt="">
    
  </div>

  <div class="loading-indicator">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>

</div>
